@use './variables' as *;
@use "sass:map";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body{
    font-family: system-ui;
    background: map-get($map: $colores, $key: focus);
    color: rgb(8, 10, 9);
}

.calc{
    padding: 10px;
    height: calc(100vh - 2.5rem);
    margin: 0 auto;
    gap: 15px;
    max-width: 500px;
    width : 100%;
    margin-top:2.5rem;

    &__container{
        display: grid;
        gap: 10px;
        margin:auto;
        padding: 0 20px;
        max-width: 350px;
    }

    &__head{
        display: flex;
        flex-direction: column;
    }

    &__title{
        text-align: center;
        font-size: 2.5rem;
        display: flex;
        flex-direction: column;

        & .green{
            color: map-get($map: $colores, $key: focus);
            background:#282828;
            border-radius: 50px ;
        }
    }

    
    &__res{
        visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150px;
        background: map-get($map: $colores, $key: fondo-down);
        max-width: 300px;
        border-radius: 15px;
        margin:auto;
        margin-top: 25px;
        position: relative;

        &-contain {
            display: flex;
            font-weight: bold;
            flex-direction: row;
            gap:17px;
            align-items: center;
        } 
        &-value {
            font-size: 40px;
        }
    }
}



.form{

    display: flex;
    flex-direction: column;
    gap: 10px;

    &__valorDolar{
        text-align: center;
        padding: 17px 10px;
        border-radius: 10px;
        background: map-get($map: $colores, $key: fondo-up);
        color: map-get($map: $colores, $key: input);
        font-size: .95rem;
        font-weight: 700;

        & + label{
            margin-top: 10px;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 700;
        }
    }
    
    &__dolarPrice{
        text-align: center;
        padding: 17px 10px;
        font-size: .95rem;
        font-weight: 700;
        background: map-get($map: $colores, $key: fondo-up);
        color: map-get($map: $colores, $key: input);
        border-radius: 10px;
        
        &::placeholder{
            font-size: .95rem;
            font-weight: 700;
        }

        &:focus-visible{
            outline: none;
        }
    }
}

.button {
    padding: 20px 10px;
    border-radius: 15px;
    margin-top: 20px;
    background: map-get($map: $colores, $key:borde);
    font-size: 1.4rem;
    font-weight: 900;
    color: #b7cc18;

    &__link{
        text-decoration: none;
        font-size: 17px;
    }
    &__primary {

        &:hover{
            transform: scale(.95);
        }
    }

    &__secondary {
        background: transparent;
        color:rgb(8, 10, 9);
    }
}

#loading {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgb(8, 10, 9);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }


.spinner__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table {
    margin: auto;
    table-layout: fixed;
    width: 100%;
    max-width: 325px;
    border-spacing: 0;

    td {
        padding-block: 7px;
        text-align: center;
    }
    th {
        padding-block: 7px;
    }

    td:nth-child(2){
        color:red;
    }
    td:nth-child(1){
        width: 150px;
    }
}

button {
    background: none;
}

.icon{
    width: 25px;
}

.price { 
    display: flex; 
    gap: 7px; 
    align-items: center;
}

 .body {
    display: flex;
    gap: 7px;
    justify-content: center;
    padding: 20px
}
 